* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css generali */

#row {
    width: 700px;
    margin: 0 auto;
    position: relative;
}

#row-2 {
    width: 700px;
    margin: 0 auto;
    position: relative;
    top: 370px;
}

.sezione-prodotto {
    position: absolute;
}

.b {
    left: 210px;
}

.c {
    left: 420px;
}

/* css carte immagini */

.card {
    position: relative;
    width: 200px;
    height: 300px;
    display: inline-block;
}

.cuore {
    position: absolute;
    right: 0px;
    top: 15px;
    width: 35px;
    height: 35px;
    background-color: white;
    line-height: 35px;
    text-align: center;
}

.sconto {
    position: absolute;
    bottom: 15px;
    color: white;
    background-color: red;
}

.sus {
    position: absolute;
    bottom: 15px;
    left: 40px;
    color: white;
    background-color: green;
}

/* css testo */

.descrizione {
    position: absolute;
}

.price {
    color: red;
    font-size: 0.7em;
}

.original {
    text-decoration: line-through;
    font-size: 0.7em;
}

/* css immagini */

.uno {
    background-image: url("../img/1.webp");
    background-size: cover;
}

.uno:hover{
    background-image: url("../img/1b.webp");
    background-size: cover;
}

.due {
    background-image: url("../img/2.webp");
    background-size: cover;
}

.due:hover{
    background-image: url("../img/2b.webp");
    background-size: cover;
}

.tre {
    background-image: url("../img/3.jpg");
    background-size: cover;
}

.tre:hover{
    /* background-image: url("../img/1b.webp"); */
    background-size: cover;
}

.quattro {
    background-image: url("../img/4.webp");
    background-size: cover;
}

.quattro:hover{
    background-image: url("../img/4b.webp");
    background-size: cover;
}

.cinque {
    background-image: url("../img/5.webp");
    background-size: cover;
}

.cinque:hover{
    background-image: url("../img/5b.webp");
    background-size: cover;
}

.sei {
    background-image: url("../img/6.webp");
    background-size: cover;
}

.sei:hover{
    background-image: url("../img/6b.webp");
    background-size: cover;
}
